<!DOCTYPE html>
<form method="POST" action="/register">
	<input type="email" name="email" placeholder="Enter your email" id="email">
	<input type="password" name="password" placeholder="Enter your password" id="password">
</form>